# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
# The app's base URL (e.g., https://ais-dev-ilfpxri56j36wyn7igxe6e-61523354675.asia-northeast1.run.app)
APP_BASE_URL=
